Dockerfile
.dockerignore
node_modules
*.DS_Store
*.env
.vscode/
build/*
env/*.env
keys/*
sequelize/logs/sequelizeSeedData.json
app/mocks/*
app/routes/api/v1/mock.js
coverage
tmp/*
test.js
sample.js

.scannerwork/*
coverage

dump.rdb
ignoreNote.txt


